{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        },
        "modules": false
      }
    ],
    "stage-2",
    "react",
    "react-optimize"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "react-hot-loader/babel",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ],
  "ignore": [
    "node_modules"
  ]
}
